@import "tailwindcss";

@theme {
  --color-n-50: #ffffff;
  --color-n-100: #e5e5e5;
  --color-n-300: #6B6C6E;
  --color-n-400: #8a8a8a;
  --color-n-500: #7D7D7D;
  --color-n-600: #424342;
  --color-n-700: #2D2D2D;
  --color-n-800: #2A2B2A;
  --color-n-900: #1f1f1f;

  --color-accent-1: #f77f00;
  --color-accent-2: #25a244;
  --color-accent-2: #0466c8;
  --color-accent-3: #7b2cbf;
  --color-accent-5: #d90429;
  --color-accent-6: #facc15;
}

body {
  background-color: var(--color-n-900);
  color: var(--color-n-50);

  margin: 0;
  padding: 0;
}

/* scroll bar */

.cubic-scroll::-webkit-scrollbar{
  background-color: var(--color-n-600) 60%;
  border-left: 1px solid var(--color-n-600);
  width: 12px;
}

.cubic-scroll::-webkit-scrollbar-thumb {
  background-color: var(--color-n-600);
}